<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    {% block title %}{% endblock %}
  </title>
  <!-- fonts -->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- css -->
  <link href="{% static 'assets/css/webnlp.css' %}" rel="stylesheet" />

</head>
<!-- Layout view  -->
<body>
  <div class="wrapper">

    <div class="main-panel">

      {% include 'includes/navigation.html' %}

      <div class="content">

        {% block content %}{% endblock content %}

      </div>

    </div>

  </div>

  {% include 'includes/scripts.html' %}  

</body>

</html>